<!-- CARD -->

<section class="light">
  <div class="container py-2">
    <h1>Novità</h1>

    <article class="postcard light blue">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://www.ibs.it/images/9788804760597_0_536_0_75.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">
          <a href="#">Le armi della luce</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 ">
            <i class="fas fa-calendar-alt mr-2"></i>Ken Follett
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Le armi della luce si svolge tra il 1792 e il 1824, un’epoca di
          grandissimi cambiamenti in cui il progresso si scontra con le
          tradizioni del vecchio mondo rurale e il governo dispotico è
          determinato a fare dell’Inghilterra un potente impero commerciale. A
          Kingsbridge l’industrializzazione si fa rapidamente strada riducendo
          alla miseria la maggior parte della popolazione dedita alla
          manifattura tessile, la principale fonte di reddito della città. La
          vita di un gruppo di famiglie collegate tra loro viene stravolta dalla
          nuova era delle macchine, mentre imperversa la guerra con la vicina
          Francia di Napoleone Bonaparte che giunge alla sua epocale conclusione
          con la battaglia di Waterloo.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item">
            <i class="fas fa-tag mr-2"></i>Narrattiva straniera
          </li>
          <li class="tag__item">
            <i class="fas fa-clock mr-2"></i>Disp. dal 26 Settembre 2023
          </li>

          <!-- <li class="tag__item play blue">
                   <a href="#"><i class="fas fa-play mr-2"></i>Compra</a>
                </li> -->
        </ul>
      </div>
    </article>
    <article class="postcard light red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://www.ibs.it/images/9788811010685_0_536_0_75.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title red">
          <a href="#">Volevamo prendere il cielo</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Federica Bosco
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          È il 1995 quando Linda conosce Corinna, che arriva in classe nel
          fatidico anno della maturità, pieno di sogni e aspettative. Ma mentre
          Linda è una ragazza come tante, con una famiglia di modeste
          possibilità, Corinna è ricca da far paura, di quelle ricchezze
          spropositate, imbarazzanti, difficili da immaginare, dove il lusso e
          l'eccesso sono la normalità. Se Linda può permettersi due paia di
          scarpe l'anno e si sposta in autobus, Corinna possiede una cabina
          armadio stracolma di abiti di stilisti di grido e va a scuola con
          l'autista. Ma, nonostante la differenza di ceto sociale, Corinna è una
          ragazza semplice e generosa, e le due diventano grandi amiche. C'è
          qualcuno, però, che presto diviene protagonista indiscusso del cuore
          di Linda: Leonardo, il fratello maggiore di Corinna. La ragazza se ne
          innamora perdutamente, anche se lui è proiettato in un futuro di
          affari internazionali cucitogli addosso dalla famiglia.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Romantico</li>
          <li class="tag__item">
            <i class="fas fa-clock mr-2"></i>Disp. dal 29 Settembre 2023
          </li>
          <!-- <li class="tag__item play red">
                  <a href="/carrello"
                    ><i class="fas fa-play mr-2"></i>Carrello</a
                  >
                </li> -->
        </ul>
      </div>
    </article>
    <article class="postcard light green">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://www.ibs.it/images/9788858045121_0_536_0_75.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title green">
          <a href="#">PFabula. Il portale dei tredici regni</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Akram El-Bahay
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Il desiderio di avventura gli esplose dentro all’improvviso, ardente,
          risvegliando in lui qualcosa che doveva essere stato lì,
          sonnecchiante, già da tempo. Era un sentimento più inebriante anche
          delle sue bugie più ardite. «Sì» rispose deciso. Con il cuore in
          tumulto fece il primo passo. E là sotto, avviluppato alle radici,
          qualcosa aprì un occhio. Dormiente. Sognante. Aveva sentito una voce.
          Una voce che stava aspettando. Una voce che lo aveva svegliato.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Fantasy</li>
          <li class="tag__item">
            <i class="fas fa-clock mr-2"></i>Disp. dal 6 Ottobre 2023
          </li>
          <!-- <li class="tag__item play green">
                  <a href="#"><i class="fas fa-play mr-2"></i>Compra</a>
                </li> -->
        </ul>
      </div>
    </article>
    <article class="postcard light yellow">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://www.ibs.it/images/9791280712424_0_536_0_75.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title yellow">
          <a href="#">Ci penseranno i fiori</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="25-05-2020">
            <i class="fas fa-calendar-alt mr-2"></i>Giorgio Ricci
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Fiori come arma di vendetta, fiori mossi da una naturale
          predisposizione a farsi giustizia sommaria, fiori che prendono vita
          (intesa come vita animale) per punire crudelmente scelte discutibili e
          gravi peccati. Racconto dopo racconto una natura inquietante, alcune
          volte orchestrata da menti umane, giustizia chi si è macchiato di un
          tradimento, di un omicidio, di una violenza, di un rapimento. Undici
          storie in cui qualcosa di dirompente invade la “normalità” di
          abitazioni, borghi, campagne. Undici racconti maledetti in cui a
          cadere non saranno solamente i colpevoli.
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Giallo</li>
          <li class="tag__item">
            <i class="fas fa-clock mr-2"></i>Disp. dal 12 Settembre 2023
          </li>
          <!-- <li class="tag__item play yellow">
                  <a href="#"><i class="fas fa-play mr-2"></i>Compra</a>
                </li> -->
        </ul>
      </div>
    </article>
  </div>
</section>
