<div class="genre-cart">
  <h2>Horror</h2>
  <div class="row">
    <div class="col" *ngFor="let book of books">
      <div class="card">
        <img
          [src]="book.imageLinks?.thumbnail"
          class="card-img-top"
          alt="Copertina del libro"
        />
        <div class="card-body">
          <h3 class="card-title">{{ book.title }}</h3>
          <button class="btn btn-primary" (click)="showDetails(book)">
            Dettagli
          </button>
          <button class="btn btn-success" (click)="addToCart(book)">
            Aggiungi al Carrello
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="cart-button" [routerLink]="['/carrello']">
    Visualizza Carrello
  </button>
</div>
<div class="modal" *ngIf="showDetailsModal">
  <div class="modal-content">
    <h3>{{ selectedBook.title }}</h3>
    <p>{{ selectedBook.description }}</p>
    <!-- Altri dettagli del libro qui -->
    <button (click)="closeDetailsModal()">Chiudi</button>
  </div>
</div>
