.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  margin-top: 130px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
