<!-- NAV -->

<nav class="mainNav">
  <div class="mainNav__logo">E-BookLis</div>
  <div class="mainNav__links">
    <ul class="mainNav__links">
      <li>
        <a class="mainNav__link" routerLink="/home">Home</a>
      </li>
      <!-- <li><a class="mainNav__link" routerLink="/card">Card</a></li> -->
      <li><a class="mainNav__link" routerLink="/search">Ricerca</a></li>
      <!-- <li><a class="mainNav__link" routerLink="/wishlist">Wish List</a></li> -->

      <li><a class="mainNav__link" routerLink="/carrello">Wishlist</a></li>

      <li><a class="mainNav__link" routerLink="/login">Login</a></li>
    </ul>
  </div>

  <div class="mainNav__icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g data-name="Layer 2" fill="#9197AE">
        <g data-name="menu-2">
          <rect
            width="24"
            height="24"
            transform="rotate(180 12 12)"
            opacity="0"
          />
          <circle cx="4" cy="12" r="1" />
          <rect x="7" y="11" width="14" height="2" rx=".94" ry=".94" />
          <rect x="3" y="16" width="18" height="2" rx=".94" ry=".94" />
          <rect x="3" y="6" width="18" height="2" rx=".94" ry=".94" />
        </g>
      </g>
    </svg>
  </div>
</nav>
<!-- BARRA DI RICERCA -->
<div class="search-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca libri..." />
  <button (click)="searchBooks()">Cerca</button>
</div>
<!-- CARD -->
<div *ngFor="let book of searchResults">
  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle"></div>

      <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
          <img
            [src]="book.volumeInfo.imageLinks?.thumbnail"
            alt="Copertina del libro"
          />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue">
            <a href="#">{{ book.volumeInfo.title }}</a>
          </h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 ">
              <i class="fas fa-calendar-alt mr-2"></i
              >{{ book.volumeInfo.authors?.join(", ") || "Sconosciuto" }}
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            {{ book.volumeInfo.description }}
          </div>
          <ul class="postcard__tagbox">
            <li class="tag__item">
              <i class="fas fa-tag mr-2"></i>{{ book.volumeInfo.categories }}
            </li>
            <li class="tag__item">
              <i class="fas fa-tag mr-2"></i>pag.{{ book.volumeInfo.pageCount }}
            </li>
            <li class="tag__item">
              <i class="fas fa-clock mr-2"></i
              >{{ book.volumeInfo.publishedDate }}
            </li>
            <li class="tag__item play blue">
              <button (click)="addToCart(book)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-suit-heart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"
                  />
                </svg>
              </button>
            </li>

            <!-- <li class="tag__item play blue">
              <button (click)="addToWishlist(book)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-suit-heart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"
                  />
                </svg>
              </button>
            </li> -->
          </ul>
        </div>
      </article>
    </div>
  </section>
</div>
