<ngb-carousel>
  <ng-template ngbSlide *ngFor="let book of books">
    <header class="mainHeading">
      <div class="mainHeading__content">
        <article class="mainHeading__text">
          <p class="mainHeading__preTitle">{{ book.author }}</p>
          <h2 class="mainHeading__title">{{ book.title }}</h2>

          <p class="mainHeading__description">
            {{ book.dettagli }}
          </p>
          <button class="cta">Leggi ancora</button>
        </article>
      </div>
    </header>
  </ng-template>
</ngb-carousel>
<!--
<header class="mainHeading">
  <div class="mainHeading__content">
    <article class="mainHeading__text">
      <div *ngIf="bookInfo">
        <h1>{{ bookInfo.title }}</h1>
        <img [src]="bookInfo.imageLinks?.thumbnail" alt="Copertina del libro" />
        <p>{{ bookInfo.description }}</p>
        <a [href]="bookInfo.infoLink" target="_blank">Scopri di più</a>
      </div>
    </article>
  </div>
</header> -->
